<p id="notice"><%= notice %></p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
  <br>
  <%= image_tag @user.avatar.url(:small) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>

