<p id="notice"><%= notice %></p>

<fieldset>
  <strong>Title:</strong>
  <%= @project.title %>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
  <br>
  <p>Membres max: <%= @project.membersmax %></p>
  <p>Auteur:<%= link_to  @project.user_id , user_path(@project.user_id) %> </p>
</p>
</fieldset>

<%= link_to 'Back', projects_path %>
